<h1>Pipes</h1>
<hr>
<p>The hero's birthday is {{ birthday | date }}</p>
<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>
<hr>
<h4>Transforming data with parameters</h4>
<p>The hero's birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Format</button>
<hr>
<h4>Birthday Pipe Chaining</h4>
<p>
  The chained hero's birthday is
  {{ birthday | date | uppercase}}
</p>

<p>
  The chained hero's birthday is
  {{  birthday | date:'fullDate' | uppercase}}
</p>
<hr>
<div>
    <h3>pipes for custom data transformations</h3>
    <h4>Power</h4>
    <p>Super power: {{2 | exponential: 10}}</p>
</div>
<hr>
<div>
    <h3>Power Boost Calculator</h3>
    <div>Normal power: <input [(ngModel)]="power"></div>
    <div>Boost factor: <input [(ngModel)]="factor"></div>
    <p>
      Super Power: {{power | exponential: factor}}
    </p>
</div>

<hr>
<app-flying-heroes></app-flying-heroes>

<hr>
<app-flying-heroes-impure></app-flying-heroes-impure>
