<h1>MAIN CONCEPT</h1>
<nav>
  <a routerLink="/dir-dash" routerLinkActive="active">DIRECTIVES</a> | 
  <a routerLink="/di-dash" routerLinkActive="active">DI</a> | 
  <a routerLink="/forms" routerLinkActive="active">FORMS</a> | 
  <hr />
  <a routerLink="/interpolation" routerLinkActive="active">Interpolation</a> | 
  <a routerLink="/template-statement" routerLinkActive="active">Template statements</a> | 
  <a routerLink="/pipes" routerLinkActive="active">Pipes</a> | 
  <a routerLink="/binding-syntax" routerLinkActive="active">Binding syntax</a> | 
  <a routerLink="/propety-binding" routerLinkActive="active">Propety binding</a> | 
  <a routerLink="/attribute-binding" routerLinkActive="active">Attribute binding</a> | 
  <a routerLink="/event-binding" routerLinkActive="active">Event binding</a> | 
  <a routerLink="/two-way-binding" routerLinkActive="active">Two-way binding</a> | 
  <a routerLink="/templ-exrp-operator" routerLinkActive="active">Template expression operators</a> | 
  <a routerLink="/svg" routerLinkActive="active">SVG in templates</a> | 
</nav>

<router-outlet></router-outlet>