TEMPLATES
<nav>
  <a routerLink="/interpolation" routerLinkActive="active">Interpolation</a> | 
  <a routerLink="/template-statement" routerLinkActive="active">Template statements</a> |
  <a routerLink="/pipes" routerLinkActive="active">Pipes</a> |
  <a routerLink="/binding-syntax" routerLinkActive="active">Binding syntax</a> |
  <a routerLink="/propety-binding" routerLinkActive="active">Propety binding</a> |
  <a routerLink="/attribute-binding" routerLinkActive="active">Attribute binding</a> |

</nav>

<router-outlet></router-outlet>